In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [3]:
#Assign variables for summary table.
total_schools = len(school_data_complete["school_name"].unique())
total_students = school_data_complete["student_name"].count()
total_budget = school_data_complete["budget"].unique().sum()
avg_math_score = school_data_complete["math_score"].mean()
avg_reading_score = school_data_complete["reading_score"].mean()
passing_math_percent =((school_data_complete["math_score"].loc[school_data_complete["math_score"] > 69].count()) / total_students) * 100
passing_reading_percent = ((school_data_complete["reading_score"].loc[school_data_complete["reading_score"] > 69].count()) / total_students) * 100
passing_overall_percent = (avg_math_score + avg_reading_score) / 2

#Generates Summary Table
summary_df = pd.DataFrame({"Total Schools":[total_schools],
                                  "Total Students": [total_students],
                                  "Total Budget": [total_budget],
                                  "Average Math Score": [avg_math_score],
                                  "Average Reading Score": [avg_reading_score],
                                  "% Passing Math" : [passing_math_percent],
                                  "% Passing Reading": [passing_reading_percent],
                                  "% Overall Passing Rate": [passing_overall_percent]})

#format summary table
summary_df["Total Budget"] = summary_df["Total Budget"].astype(float).map("${:,.2f}".format)
summary_df["Total Students"] = summary_df["Total Students"].astype(float).map("{:,.0f}".format)


#display summary table
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.431606

In [4]:
school_group_df = school_data_complete.groupby(["school_name"])
test = school_group_df["school_name"].unique()
avg_reading_score_school["reading score"] = pd.DataFrame(school_group_df["reading_score"].mean())
avg_reading_score_school["math score"] = pd.DataFrame(school_group_df["math_score"].mean())
avg_reading_score_school

# # school_group_df["school_name"].unique()
# school_summary_df = pd.DataFrame({"test" :[avg_reading_score_school]})
# #                                  
# school_summary_df

NameError: name 'avg_reading_score_school' is not defined